<%= stylesheet_link_tag "hn.css" %>
<p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<p class="mod">
  <%= link_to 'delete', [comment.submission, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>